.header {
  background-color: $blue;
  color: $white;
}
.upper-navbar {
  overflow: hidden;
  height: 56px;

}
.upper-navbar ul {

  display: flex;
  margin: 1% 2%;
  li {
    display: inline-block;
    padding: 0 1%;
    margin: auto 1%;
    &:nth-of-type(3) {
      padding-right: 0;
      margin-right: 0;
    }
    &:nth-of-type(5) {
      padding-right: 0;
    }
  }
}
.left-nav {
  float: left;
  width: 80%;

}
.right-nav {
  width:20%;
  float: left;
  height: 100%;
  text-align: right;
  padding-right: 1%;

  ul {
    display: block;
    height: inherit;
    padding-top: 15px;
    li {
      display: inline-block;
    }
  }
}


.logo {
  text-align: right;
  margin: 0 2% 1% 2%;
}

.main-navbar {
  display: flex;
  background-color: $dark-blue;
  ul {
    width: 80%;
    margin: 1% 2% 1% 0;
    li {
      display: inline-block;
      padding: 0 .7%;
    }
  }
}

.browse-menu {
  background-color: $dark-grey;
  width: 15%;
  display: flex;
  margin: 0 0 0 auto;
  p {

    margin: auto;
  }
}

.upper-navbar .navImage {
  margin: auto 0;
  padding: 0;
}
.main-navbar .navImage img  {
  vertical-align: bottom;
}

.upper-navbar li:nth-of-type(2) {
  margin-left: 0;
  padding-left: 2px;
}

.upper-navbar li:nth-of-type(4) {
  margin-left: 0;
  padding-left: 2px;
}
