.container {
  @include font($container__color, 1.1em, $container__font);
  @media (min-width: 950px) {
    font-size: 1.5em;
  }
}

.header {
  margin: 5%;
  @include font($header__color, 1.0em, $header__font);
  h1 {
    color: darken($header__color, 18%);
    margin: 3%;
  }
}

.content__h2 {
  @extend .header;
  color: mix($header__color, $container__color);
}
