//navbar typography

.logo  {
  h1 {
    font-size: 4em;
  }
}

span.light-blue {
  color: $light-blue;
}

.main-container {
  font-size: 1.18em;
}

li:hover, .browse-menu p:hover {
  @include link-hover;

}
